#!/bin/bash

source_local() {
  file=./.envrc.local
  if [[ -f "$file" ]]; then
    source_env $file
  fi
  watch_file $file
}

source_up || true
source_local

export NODE_ENV=development

export EXPO_TURTLE_TOOLS_DIR="$(pwd)/tools"

PATH_add $EXPO_TURTLE_TOOLS_DIR/bin
